/* Start Variabls */
:root {
    --main-green: #10cab7;
    --alt-green: #2c4755;
    --main-black: #333;
    --alt-black: #666;
}
/* End Variabls */
/*Start Global Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    font-family: "Work Sans", sans-serif;
}
.container {
    margin: 0 auto;
    padding: 0 20px;
    height: 20px;
    position: relative;
}
/* media query */
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
/* End Global Rules */
/* Start Frame Works */

/* End Frame Works */
/* Start Header style */
#logo {
    width: 60px;
}
header {
    padding: 10px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container #links{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    position: relative;
}
/* Start Berger Icon */
header .container #links #icon-b {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 27px;
}
header .container #links #icon-b span {
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
    background-color: #333;
}
header .container #links #icon-b span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}
header .container #links #icon-b:hover span:nth-child(2){
    width: 100%;
}
header .container #links #icon-b span:last-child {
    margin-bottom: 0;
}
/* End Berger Icon */
header .container #links:hover #nav-bar{
    display: block;
}
header .container #links #nav-bar {
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 70%;
    padding-right: 100px;
    background-color: #eee;
    display: none;
    width: 200px;
    padding-left: 20px;
    border-radius: 3px;
}
header .container #links #nav-bar::before {
    content: "";
    border: solid 15px black;
    position: absolute;
    border-color: transparent transparent #eee transparent;
    right: 20px;
    top: -30px;
}
header .container #links #nav-bar li a::before {
    content: "";
    border: 9px solid black;
    border-color: transparent transparent transparent lightblue;
    height: 0.5px;
    position: absolute;
    left: 10px;
}
/* Start ancore styel */
header .container #links #nav-bar li a {
    display:block;
    text-decoration: none;
    padding: 10px;
    color: #333;
    font-weight: 600;
    transition: 0.3s;
}
header .container #links #nav-bar li a:hover {
    margin-left: 10px;
}
header .container #links #nav-bar li a:hover::before{
    border-color: transparent transparent transparent rgb(44, 195, 245);
}
header .container #links #nav-bar li:not(:last-child) {
    border-bottom: 0.2px solid #333;
}
/* End ancore styel */
/* End Header style */
/* Start Landing style */
#landing {
    background-image: url('/images/landing.jpg');
    background-size: cover;
    display: flex;
    height: calc(100vh - 40px);
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
#intro-text {
    margin-bottom: 200px;
    max-width: 320px;
}
#intro-text h1 {
    font-size: 3em;
    letter-spacing: 1px;
    margin-bottom: 2vh;
    color: var(--main-green);
    text-align: center;
}
#intro-text p {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5;
}
/* End Landing style */
/* Start service ad seciont */
#service-ad {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 10px;
    background-color: #eee;
    padding: 60px 0;
    column-gap: 10px;
}
#service-ad .feat{
    display: grid;
    justify-content: center;
    margin-top: 50px;
    grid-template-columns: auto;
    grid-template-rows: 100px 50px;
    text-align: center;
    padding: 0 35px;
}
#service-ad i{
    color: var(--main-green);   
}
#service-ad p{
    color: #666;
    max-width: 350px;
}
/* End service ad section */
/* Start services section */
#services {
    height: 600px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.light {
    text-align: center;
    font-size: 10vh;
    color: #99999931;
    margin-bottom: 0;
    padding: 0;
}
.comment {
    text-align: center;
    padding: 0;
    margin: 0;
    position:relative;
    top: -35px;
    font-weight: 300;
    font-size: larger;
    color: #666;
}
#services > .container {
    display: grid;
    grid-template-columns: repeat(3, 366px);
    grid-template-rows: repeat(2, 200px);
    column-gap: 10px;
    margin-top: 100px;
    grid-template-areas: "one two side" "three four side";
}
#services #side {
    grid-area: side;
}
#services .domain{
    display: grid;
    grid-template-columns: 60px 1fr 90px;
    grid-template-rows: auto 1fr;
}
#services i {
    grid-area: 1/1/2/1;
    color: var(--main-green);
}
#services .domain p{
    grid-area: 2/2/2/2;
    font-size: 14px;
}
#services #pilar{
    height: 400px;
    width: 80px;
    background-color: var(--alt-green);
    position: relative;
    left: 50%;
}
#services img {
    border-style: none;
    width: 220px;
    position: relative;
    top: -350px;
    height: 300px;
}
/* End services section */
/* Start Portfolio section */
#portfolio {
    height: 800px;
    width: 80%;
    padding: 0 10%;
    margin: 0 auto;
}
#portfolio::before {
    content: "";
    height: 800px;
    width: 100%;
    background-color: #eee;
    float: left;
    position: absolute;
    left:0;
    z-index: -1;
}
#projects {
    margin: 100px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3,auto);
    column-gap: 20px;
}
#projects img{
    width: 100%;
}
#projects h3 {
    margin: 20px 0;
    text-align: center;
}
#projects p {
    padding: 10px;
}
#projects .project {
    background-color: white;
    padding-bottom:30px;
}
/* End Portfolio section */
/* Start About section */
#content {
    display: flex;
    width: 90%;
    margin: 100px auto 0;
    justify-content: space-evenly;
    height: 600px;
}
#content img {
    width: 270px;
}
#content #art {
    position: relative;
}
#content #art::before{
    content: "";
    position: absolute;
    background-color: #eee;
    height: 455px;
    width: 60px;
    top: -25px;
    z-index: -1;
    left: -40px;
}
#content #art::after{
    content: "";
    position: absolute;
    background-color: var(--main-green);
    height: 315px;
    width: 60px;
    top: -25px;
    z-index: -1;
    right: -40px;
}
#content #supp{
    position: absolute;
    background-color: var(--main-green);
    height: 60px;
    width: 100px;
    top: 290px;
    z-index: -1;
    right: -100px;
}
#article {
    width: 570px;
    padding: 50px;
}
#hr {
    background-color: var(--main-green);
    height: 2px;
    width: 100%
}
#article p:last-of-type {
    color: #666;
}
/* End About section */
/* Start Contact section */
#contact {
    width: 100%;
    background-color: #eee;
    height: 550px;
}
#contact .mail,#s-network {
    text-align: center;
    margin: 30px 0;
}
h1 a{
    text-decoration: none;
    color: var(--main-green);
}
#contact i {
    margin-left: 10px;
    color: var(--main-black);
}
/* End Contact section */
/* Start footer section */
footer {
    background-color: var(--alt-green);
    height: 80px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer span,footer p {
    /* font-weight: bold; */
    font-size: larger;
    color: white;
}
footer span {
    color: var(--main-green);
}
/* End footer section */